.main-page {
    background-image: linear-gradient(black, #540600, black)
}

.main-header {
    width: 100%;
    height: 15vh;
    color: red;
    display: flex;
    align-items: center;
    font-family: 'Sen', sans-serif;
    font-size: 35px;
    box-sizing: border-box;
    padding: 20px;
}

.account-button {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 70px;
}

.menu-button {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
}

.suggestion-section {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 600px;
    padding-top: 10px;
}

.suggested-movie {
    margin: 20px;
}

.suggest-poster {
    height: 450px;
    width: 325px;
    border: 1px solid black;
}

.suggest-poster:hover {
    transform: scale(1.1);
    border: 1px solid #d40f00;
    cursor: pointer;
}

.suggest-poster:active {
    transform: translateY(6px)
}

.display-two {
    height: 600px;
    width: 100%;
}

.my-movie-header {
    margin-top: 20px;
    color: red;
    font-family: 'Sen', sans-serif;
    font-size: 30px;
    box-sizing: border-box;
    padding: 20px;

}

.display-my-list {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.my-poster {
    width: 300px;
    height: 410px;
    margin: 15px;
    border: 2px solid black;
    position: relative;
    z-index: 2;
    margin-bottom: 0px;
}

.delete-button-section {
    display: flex;
    justify-content: center;
}

.delete-button {
    color: red;
    font-family: sans-serif;
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.delete-button:active {
    transform: translateY(6px);
}

.my-movies {
    position: relative;
}

.delete-play-buttons {
    display: flex;
    justify-content: center;
}

.play-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid red;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 170px;
    left: 115px;
    opacity: 85%;

}

.play-button:active {
    transform: translateY(6px)
}

.watched-tag {
    background-color: red;
    left: 18px;
    font-family: 'Sen', sans-serif;
    width: 301px;
    margin-left: 17px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    position: absolute;
    top: 16px;
    left: 0;
    z-index:2;
}

.watched-movie-container {
    position: relative;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 20px;
    background-color: black;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8f0000;
    border-radius: 10px;
  }
